.notebook {
    --normal-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --monospace-font: Menlo, Consolas, "DejaVu Sans Mono", monospace;

    .cell--input {
        background: #f3f3f3;
        border: 1px solid #ddd;
        border-radius: 3px;

        .cm-editor {
            outline: none;
            .cm-content {
                font-family: var(--monospace-font);
                font-size: 10pt;
            }
        }
    }

    .cell--output {
        margin: 8px;

        &[data-kind='text/plain'], &[data-kind='term'] {
            white-space: pre-wrap;
            font-family: var(--monospace-font);
            font-size: 10pt;
        }
        &[data-kind='error'] {
            white-space: pre;
            font-family: var(--monospace-font);
            font-size: 8pt;
        }

        &[data-kind='text/html'] {
            font-family: var(--normal-font);
            font-size: 13px;

            table {
                border-collapse: collapse;
                td {
                    border: 1px solid #ddd;
                    padding: 3px;
                }
            }
        }
    }

    .cell--outputs {
        overflow: auto;
        
        &:empty {
            margin-bottom: 4px;
        }
    }

    &::after {
        content: '';
        display: block;
        min-height: 400px; /* quite arbitrary */
    }
}